.article {
  padding: 11px 9px;
  box-sizing: border-box;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.article__image {
  min-width: 57px;
  height: 57px;
  object-fit: cover;
  border-radius: 50%;
  padding: 6px 7px;
}

.article__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 5px;
}

.article__title,
.article__subtitle,
.article__text {
  box-sizing: border-box;
  margin: 0;
}

.article__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
  padding: 4px;
}

.article__subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.18;
  color: #000000;
  padding: 4px 4px 1px 4px;
}

.article__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.18;
  color: #009990;
  padding: 0 4px;
}

@media screen and (min-width: 1152px) {
  .article__image {
    min-width: 78px;
    height: 78px;
  }

  .article__title {
    font-size: 18px;
    line-height: 1.16;
    padding-top: 5px;
    padding-bottom: 6px;
  }

  .article__title,
  .article__subtitle {
    font-size: 20px;
    line-height: 1.15;
  }

  .article__subtitle {
    padding-top: 5px;
    padding-bottom: 2px;
  }

  .article__text {
    color: #009990;
    font-size: 20px;
    line-height: 1.15;
  }
}
