.form {
  box-sizing: border-box;
  padding: 23px 21px 10px 21px;
}

.form__container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1152px) {
  .form {
    padding: 41px 40px 20px 40px;
    max-width: 1152px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .form__container {
    display: grid;
    grid-template-columns: repeat(3, 277px);
    gap: 18px;
  }
}
