.show-more-button-container {
  box-sizing: border-box;
  padding: 10px 21px 65px 21px;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.show-more-button {
  box-sizing: border-box;
  padding: 14px 0;
  margin: 0;
  min-width: 100%;
  border: 2px solid #009990;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  cursor: pointer;
  color: #009990;
  background-color: #fff;
  transition: all .3s ease;
}

.show-more-button:hover,
.show-more-button:focus {
  color: #fff;
  background-color: #009990;
}

.show-more-button:disabled {
  cursor: not-allowed;
  color: #009990;
  background-color: #00998f23;
}

@media screen and (min-width: 1152px) {
  .show-more-button {
    min-width: 336px;
    font-size: 16px;
    line-height: 1.18;
  }
}
