.submit-button {
  box-sizing: border-box;
  padding: 14px 0;
  margin: 0;
  min-width: 100%;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  cursor: pointer;
  color: #fff;
  background-color: #009990;
  transition: all .3s ease;
}

.submit-button:hover,
.submit-button:focus {
  color: #009990;
  background-color: #fff;
}

.submit-button:disabled {
  cursor: not-allowed;
  color: #009990;
  background-color: #00998f23;
}

@media screen and (min-width: 1152px) {
  .submit-button {
    min-width: 188px;
    font-size: 16px;
    line-height: 1.18;
    padding-left: 22px;
    padding-right: 22px;
    align-self: flex-end;
  }
}
